Keras==1.2.1
scipy==0.18.1
numpy==1.12.0
scikit-learn==0.18.1
nose==1.3.7
matplotlib==1.5.3
Pillow==3.4.2(zlib and jpeg)
h5py==2.6.0
scikit-image==0.12.3 (numpy python2)
tqdm==4.10.0
mock==2.0.0
librosa==0.4.3
tensorflow==1.0.0
PyWavelets-1.1.1 cycler-0.10.0 decorator-4.4.2 imageio1.-2.8.0 kiwisolver-1.2.0 matplotlib-3.2.1 networkx-2.4 numpy-1.18.5 pillow-7.1.2 pyparsing-2.4.7 python-dateutil-2.8.1 scikit-image-0.17.2 scipy-1.4.1 six-1.15.0 tifffile-2020.6.3